<?xml version="1.0" encoding="utf-8" ?>
<SettingsInfo>
  <SettingsForKeywords>
    <NameOfOutputFolder>C:\DesktopCleaner\Keywords1</NameOfOutputFolder>
    <KeyWord>test1</KeyWord>
  </SettingsForKeywords>
  <SettingsForKeywords>
    <NameOfOutputFolder>C:\DesktopCleaner\Keywords2</NameOfOutputFolder>
    <KeyWord>test2</KeyWord>
  </SettingsForKeywords>
  <SettingsForanyAnyOtherExtension>
    <NameOfOutputFolder>C:\DesktopCleaner\AnyFiles</NameOfOutputFolder>
  </SettingsForanyAnyOtherExtension>
  <SettingsForOneTypeOfFiles>
    <NameOfOutputFolder>C:\DesktopCleaner\Images</NameOfOutputFolder>
    <FileType>jpg</FileType>
    <FileType>png</FileType>
    <FileType>psd</FileType>
    <FileType>gif</FileType>
    <FileType>tiff</FileType>
    <FileType>bmp</FileType>
    <FileType>jpeg</FileType>
    <FileType>eps</FileType>
    <FileType>sai</FileType>
    <FileType>clip</FileType>
  </SettingsForOneTypeOfFiles>
  <SettingsForOneTypeOfFiles>
    <NameOfOutputFolder>C:\DesktopCleaner\FoldersAndArchives</NameOfOutputFolder>
    <FileType>rar</FileType>
    <FileType>zip</FileType>
    <FileType>7z</FileType>
  </SettingsForOneTypeOfFiles>
  <SettingsForOneTypeOfFiles>
    <NameOfOutputFolder>C:\DesktopCleaner\Video</NameOfOutputFolder>
    <FileType>avi</FileType>
    <FileType>mp4</FileType>
    <FileType>webm</FileType>
    <FileType>flv</FileType>
    <FileType>mkv</FileType>
    <FileType>mpeg</FileType>
    <FileType>wmv</FileType>
  </SettingsForOneTypeOfFiles>
  <SettingsForOneTypeOfFiles>
    <NameOfOutputFolder>C:\DesktopCleaner\Records</NameOfOutputFolder>
    <FileType>docx</FileType>
    <FileType>doc</FileType>
    <FileType>txt</FileType>
  </SettingsForOneTypeOfFiles>
</SettingsInfo>
